<div class="hotel-detail-container">
  
  <mat-card class="info-column">
    <mat-card-header>
      <mat-card-title>{{ hotel?.name }}</mat-card-title>
      <mat-card-subtitle>{{ hotel?.stars }} Stars</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>ID:</strong> {{ hotel?.id }}</p>
      <p><strong>Address:</strong> {{ hotel?.address }}</p>
      <p><strong>Phone:</strong> {{ hotel?.phone }}</p>
      <p><strong>Email:</strong> {{ hotel?.email }}</p>
    </mat-card-content>
    <div class="actions-column">
      <button mat-raised-button color="primary" [routerLink]="['/hotels/edit', hotel?.id]">Edit</button>
      <button mat-raised-button color="warn" (click)="deleteHotel(hotel?.id!)">Delete</button>
    </div>
  </mat-card>

  <mat-card class="features-column">
    <mat-card-header>
      <mat-card-title>Features</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let feature of features"><strong>{{ feature.name }}</strong>: {{feature.description}} </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="media-row" style="grid-column: span 2;">
    <mat-card-header>
      <mat-card-title>Media</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="media-grid">
        <div *ngFor="let item of media" class="media-item">
          <img height="200" [src]="item.url" alt="Hotel Image" />
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
