<mat-toolbar color="primary" class="navbar">
    <span class="logo" routerLink="/">Dashboard</span>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <mat-list-item routerLink="/hotels" routerLinkActive="active">Hotels</mat-list-item>
        <mat-list-item routerLink="/hotel-features" routerLinkActive="active">Hotel Features</mat-list-item>
        <mat-list-item routerLink="/room-features" routerLinkActive="active">Room Features</mat-list-item>
        <mat-list-item routerLink="/bookings" routerLinkActive="active">Bookings</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <mat-toolbar color="primary" class="footer">
    © 2024 Francesc Obrador. All rights reserved.
  </mat-toolbar>
  